@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, #8500ff, #5acaff);
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/404.jpg);
    background-size: cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

#container .content {
    max-width: 600px;
    text-align: center;
}

#container .content h2 {
    font-size: 18vw;
    color: #FF7396;
    line-height: 1em;
}

#container .content h4 {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#container .content p {
    font-size: 1.2em;
}

#container .content a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #FF7396;
    margin-top: 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
}

#container .content a:hover {
    background: #f791aa;
}